<!--The content below is only a placeholder and can be replaced.
Press Shift + Alt + F to indent
commit -am "message" to commit already commited files
-->
<ul>hola</ul>
<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>

<hr />
<ul>
  <ng-container *ngFor="let lugar of lugares">
    <li *ngIf="lugar.activo">{{lugar.nombre}}</li>
  </ng-container>
</ul>

<ul>
  <ng-container *ngFor="let lugar of lugares; let i = index">
    <li [ngStyle]="{color: (lugar.activo) ? 'black' : 'gray' }" [ngClass]="{numero_par: (i+1) % 2 !== 0}"> {{lugar.nombre}} </li>
  </ng-container>
</ul>